.page-footer {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  
  &__copyright {
    font-family: @opensans;
    font-size: 12px;
    line-height: 22.65px;
    color: white;
    text-align: right;
  }
}